@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  .container{
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;

  }

  /* HEADER */
  .header{
    padding: 3rem 0;
    background-color: var(--light);

  }
  .header__wrapper{
    /* PARA MAGTABI TABI */
    display: flex;
    /* PARA MAPAG HIWALAY JCSB, X AXIS */
    justify-content: space-between; 
  }
  .header__left{
    display: flex;
    /* ALIGN ITEMS Y AXIS */
    align-items: center;
  }
  .header__left img{
    width: 10rem;
  }
  .header__left ul{
    display: flex;
    gap: 3rem;
  }
  .header__left ul li a{
    color: var(--dark);
    transition: .5s ease;
  }
  .header__left ul li a:hover{
    color: var(--green);
    transition: .5s ease;
  }
  .header__right{
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .header__right ul{
    display: flex;
    gap: 3rem;
  }
  .header__right ul li a{
    color: var(--dark);
    transition: .5s ease;
  }
  .header__right ul li a:hover{
    color: var(--green);
    transition: .5s ease;
  }
  /* BANNER */
  .banner{
    background-color: var(--gray);
    padding-top: 5rem;
  }
  .banner__wrapper{
   display: flex;
  }
  .banner__left{
    padding-left: 15rem;
    padding-top: 25rem;
  }
  .banner__left h1{
    font-size: 10rem;
    line-height: 1;
    font-weight: 700;
    margin-top: 2rem;
  }
  .banner__left span{
    color: var(--green);
  }
  .banner__right{
    position: relative;
    left: 25rem;
    top: 0;
  }
  .banner__right img{
    width:100rem;
    height: 70rem;
  }
  /* ABOUT */
  .about{
    padding-bottom: 5rem;
  }
  .about__wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .about__left{
    position: relative;
    right: -25rem;
    transform: translateY(-1.5rem);
  }
  .about__left img{
    width: 40rem;
    border-radius: 1rem;
  }
  .about__right{
    margin-top: 4rem;
  }
  .about__right h2{
    font-size: 7rem;
    font-weight: 500;
  }
  .about__right p{
    font-weight: 300;
  }
  .about__right ul{
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
    font-size: 1.7rem;
  }
  .about__nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .about__nav li {
    display: inline;
  }
  
  .about__nav li{
    text-decoration: none;
    position: relative;
  }
  
  .about__nav li::after {
    content: '';
    position: absolute; 
    height: 2px;
    width: 0%;
    background-color: gray;
    transition:300ms;
    display: block;
  }
  
  .about__nav li:hover::after {
    border-color: var(--green);
    width: 100%;
  }
  
  .about__nav ul li{
    color: var(--dark);
  } 
  .about__nav ul li:hover{
    color: var(--green);

  }
  .about__skills{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .about__title li{
    display: inline-block;
  }
  .about__right span{
    color: var(--dark);
    font-weight: 600;
  }
  
  /* DESIGN FOR JSCRIPT */
  .about__title li:first-child.open{
    color: var(--green);
    text-decoration: underline;
    text-underline-offset: 7px;
  }
  .about__skills{
    display: none;
  }
  .about__skills.open{
    display: block;
    transition: .5s ease-in-out;
  }
  /* SERVICES */
  .services{
    padding: 5rem 0;
  }
  .services__title{
    text-align: center;
  }
  .services__title h3{
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .services__title p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }
  .services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
  .services__card{
    height: 35rem;
    margin-top: 4rem;
    width: 30rem;
    background: var(--gray);
    padding: 7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services__card span{
    color: var(--green);
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-right: 20rem;
  }
  .services__card h4{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }
  .services__card p{
    font-weight: 300;
    max-width: 20rem;
  }
  /* BEST CLIENT */
.client{
  padding: 5rem 0;
}
.client__title{
  text-align: center;
}
.client__title h3{
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.client__title p{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.client__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .1rem;
}
/* MBC Logo */
.client__card{
  height: 35rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray);
}
.client__card span{
  color: var(--green);
  font-size: 10rem;
}
  
  /* REPEATABLE PATTERNS */
  :root{
    --green: rgb(100, 204, 100);
    --light: #ffffff;
    --dark: black;
    --gray: #d3d3d3;
    --poppins: "Poppins", sans-serif;
  }

  .btn{
    background-color: transparent;
    border: transparent;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: transparent;
    transition: .5s ease;
  }
  .btn:hover{
    scale: 1.1;
    transition: .5s ease;
  }
  .btn.bg--border-dark{
    background-color: var(--light);
    border:1px solid var(--dark);
    color: var(--dark);
  }


  
